<%= form_tag password_resets_path, :method => :post do %>
  <div class="">
    <%= label_tag :email %>
  </div>
  <div class="field">
    <%= text_field_tag :email %> <%= submit_tag "Reset my password!" %>
  </div>
<% end %>