<h1>Visitors</h1>

<table class="zebra-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visitors.each do |visitor| %>
  <tr>
    <td><%= visitor.name %></td>
    <td><%= visitor.email %></td>
    <td><%= link_to 'Show', visitor %></td>
    <td><%= link_to 'Destroy', visitor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

