<h2>How It Works</h2>
<p><p>
	<h4><strong style="text-align: left; ">1. A visitor attends your worship service.</strong></p>
<p class="p1" style="text-align: left; ">
	<strong>2. Using an announcement, bulletin, slide or personal interaction, the Church points visitors to their unique Visitorr.com URL (ie. www.Visitorr.com/YOURCHURCHNAME)</strong></p>
<p class="p1" style="text-align: left; ">
	<strong>3. Using their smart phone, or a computer supplied by the church the visitor types in their name and email address into the simple Visitorr APP.</strong></p>
	<p class="p1" style="text-align: left; ">
	<strong>4. On Monday morning the sunday visitor will receive a fully customized email and video from church leadership inviting and instructing the Sunday visitor how to become involved in the church. Using links, email addresses and videos the church can now reach into the living rooms, offices, and homes of their Sunday visitors. That's it, the Visitorr App increases assimilation, enhances church growth, and automatically connects the visitors to the church.</strong></p>
<p><br></br>
	<strong>Example Email:<br /></h4>
	<br /></p>
<p><center> </center></p>
<p><center><%= image_tag("gmail.png") %></center></p>
