<h2>How It Works</h2>
<p>With Visitorr you can make it easy and simple for your visitors to leave their contact details with you at your Sunday service. Visitors to your church will receive a warm welcome video Monday morning thanking them for their visit and providing them with the next steps to connect with your church and its community. You can customize the video and the contents of your message to your visitor once you have your account setup.</p>

<center>
<iframe width="560" height="315" src="http://www.youtube.com/embed/Fg_JcKSHUtQ" frameborder="0" allowfullscreen></iframe>
</center>