<div class="testimonials">
  <span class="testimonial">I freaking love this product -Steve R.</span> 
  <span class="testimonial">this product saved my life -Mary J.</span> 
  <span class="testimonial">this product cured my cancer -Steven H.</span> 
</div>
