drop this in home - page 

<div class="testimonials">
  <span class="testimonial"><h2>People really respond to this App. They love the more personal touch of a video from the pastor.</h2></span> 

</div>
