<div id="plans">
  <h1>Plans</h1>
  <%= image_tag "pricing.png" %>
  <% @plans.each do |plan| %>
    <div class="signup">
      <%= number_to_currency plan.price %>
      <%= button_to "Sign up", settings_path(:plan_id => plan.id) %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
